@mixin textBase {
  color: white;
  text-align: center;
  width: 100%;
}

.secondary-label {
  @include textBase;
  @include truncate;
  font-size: 18px;
}

.primary-label {
  @include textBase();
  @include truncate;
  font-size: 24px;
}

.list-heading {
  margin-bottom: 15px;
  text-decoration: underline;
}
