@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import './reset.css';
@import './variables.scss';

* {
  @include spotify-scrollbar;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.app-children {
  height: calc(100vh - #{$height-offset});
  width: 100vw;
  top: $header-height;
  position: fixed;
  overflow-y: scroll;
  background: $gradient-up;
  @media screen and (max-width: $first-break) {
    left: 0;
    width: 100vw;
  }
}

.Player {
  width: 100vw;
  height: $player-height;
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  bottom: 0;
  background-color: $dark-grey;
}

@import './layout';
@import './typography';
@import './albumPreview';
@import './Player';
@import './widgets';
